html, body {
  margin: 0;
}

.d-flex {
  display: flex;
}

object {
  flex: 1;
  height: 100vh;
}

#formData {
  min-width: 20vw;
}

#toolbar {
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background: #333;
  color: #fff;
}

td, th {
  border: 1px solid #333;
}

.text-center {
  text-align: center;
}

.p-2 {padding: 2rem;}


#spinner {
  display: none;
  animation: spin infinite 1s;
  width: 8px;
  height: 8px;
  border-top: 4px solid red;
  border-left: 4px solid orange;
  border-bottom: 4px solid green;
  border-right: 4px solid blue;
  border-radius: 50%;
}
#spinner.active {
  display: inline-block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
};

embed {
  width: 80vw;
  min-width: 80vw;
  min-height: 80vh;
}

button {
  vertical-align: middle;
}
